/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 16px;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   AUTHOR'S CUSTOM STYLES
   ========================================================================== */
   body {
    display: flex; 
    justify-content: center;
    align-items: center; 
    font-family: 'Source Sans Pro', sans-serif;
  }

  .container {
	display:flex;
	justify-content: center; 
	align-items: center; 
	flex-flow: row wrap; 
  max-width:  1450px;  /******max-width for desktop*****/
  }


  .full-width {
  width: 100%; 
  display: flex; 
	align-items: center;
	justify-content: center;
  flex-flow: row wrap;
  margin-top: 30px; 
  }

  .half-width {
  display: flex; 
	align-items: center;
	justify-content: center;
  flex-flow: row wrap; 
  width: 100%;
}

  .third-width {
  display: flex; 
	align-items: center;
	justify-content: center;
  flex-flow: row wrap; 
  width: 100%;
}

footer {
  width: 100%; 
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding: 50px 0 0 0;
  margin: 0 auto;
  text-align: center;
  font-size: 1.3em;
  color: #857885;
}
/**************************************************************************************************************************
                HEADER CURTAIN MENU - MOBILE 
**************************************************************************************************************************/



/**************************************************************************************************************************
                HERO AREA - MOBILE 
**************************************************************************************************************************/
#hero {
  background: url('../img/desk.jpg');
  min-height: 220px; 
  background-size: cover; 
  margin-top: 0;
  padding-top: 0;
  overflow: auto;
}

h1 {
  color: #857885;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  padding: 70px 60px 0px 25px; 
  text-align: center;  
  margin: 0 auto; 
}

#hero p {
  color: #A9A299;
  font-size: 1em;  
  text-align: center;
  margin: 0 auto; 
  padding: 5px 100px 30px 80px; 
}
/**************************************************************************************************************************
                SKILLSET  - MOBILE 
**************************************************************************************************************************/

#skillset {
  padding-bottom: 50px;
}

#skillset .third-width {
    width: 100%;  
    text-align: center;
    padding: 0 30px;
}

#skill-description {
  font-size: 0.875em;
  text-align: center;
}
#skillset h2 {
  color: #857885;
}

#skillset h3 {
  color: #857885;
  font-size: 1.1em;
  margin-bottom: 0;
}
#skillset .skill-icon {
  color: #C49075;
  font-size: 2.8em;
  width: 100%;
  margin: 20px 0 0 0;
}
#skillset p {
  color: #857885;
  font-weight: 300;
}

/**************************************************************************************************************************
                PORTFOLIO  - MOBILE 
**************************************************************************************************************************/

  #portfolio {
    background-color: #F4F1EF;
    padding-bottom: 50px;
  }
  #portfolio h2 {
    color: #857885;
  }
  #portfolio p {
    color: #857885;
    text-align: center;
    font-size: 1.1em;
    padding-bottom: 10px;
  }

  #portfolio img {
    border: 1px solid #bbb;
  }

  * {box-sizing:border-box}

  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    padding: 0 50px 10px 50px;
  }
  .mySlides {
    display: none;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #bbb;
    font-weight: bold;
    font-size: 1.2em;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 50px;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: black;
    opacity: 0.3;
  }


  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    border: 1px solid #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #bbb;
  }
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
/**************************************************************************************************************************
                ABOUT  - MOBILE 
**************************************************************************************************************************/
  #about {
    padding: 20px 0 50px 0;
  }
  #about figure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 0;
    width: 30%;
  }
  #about img {
    border-radius: 50%;
    width: 100%;
  }

  #about h3 {
    color: #857885;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    margin-bottom: 10px; 
  }

  #about p {
    color: #857885;
    font-weight: 300; 
    font-size: 0.875em;
    padding: 0 50px 20px 50px;
    margin: 0 auto; 
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }
  .button {
    background-color: #C49075;
    border: none;
    color: white;
    padding: 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 4px 2px;
    border-radius: 30px;
  }

/**************************************************************************************************************************
                FOOTER - MOBILE 
**************************************************************************************************************************/

#contact h2, p, h3, a {
  color: #F4F1EF;
}

#contact {
  background-color:  #857885;
  text-align: center;
}

#contact h3 {
  font-weight: bold;
  text-align: center;
  width: 100%; 
  margin: 30px 0 0 0;
  font-size: 1.2em;
}

#contact a {
  text-decoration: none; 
}
#contact p {
  line-height: 40px;
  margin-top: 20px; 
  font-weight: 300;
}

footer .social-icon {
  display: flex; 
  justify-content: space-around;
  align-items: center;
}
footer .social-icon i {
  font-size: 2.5em;
  padding: 0 10px; 
} 

#copyright {
  font-size: 0.75em; 
  text-align: center;
  padding: 40px 0 10px 0; 
}



























/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/**************************************************************************************************************************
                MEDIA QUERY  TABLET 
**************************************************************************************************************************/

@media only screen and (min-width: 768px) {

.half-width {
  width: 50%; 
}

.third-width {
  width: 33%; 
}

/*******************************************      ABOUT TABLET     ********************************************************/



}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

